SECRET_KEY=SECRET_KEY
DB_NAME=NAME
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_HOST=127.0.0.1
DB_PORT=3306

CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=API_KEY
CLOUDINARY_API_SECRET=API_SECRET
GOOGLE_CLIENT_ID=CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=CLIENT_SECRET
FACEBOOK_APP_ID=APP_ID
FACEBOOK_APP_SECRET=APP_SECRET
